.card {
    width: $withCard;
    border: 1px solid rgba(139, 139, 139, 0.5);
    .inner {
        overflow: hidden;
    }
    img {
        transition: all 1s ease;  /*transicion*/
    }
    :hover img {
        transform: scale(1.3);    /*transformacion*/
        opacity: 0.5;    
    } 
    .card-title {
        font-size: $titleCard;        
    }
    .card-text {
        font-size: $textoCard;        
    }
    .btn-warning {
        background-color: map-get($btnColor, primario);   /*utilizacion de map-get()*/        
    }
    .bi-cart {
        font-size: $btnCarro;
    }
    .btn {
        font-size: $btnTexto;
        border: 1px solid rgb(39, 39, 39);
        box-shadow: 3px 3px 3px 0px #7b7e81;
    }    
}